<launch>
  
  <!-- <node name="mano_ikkngress_publisher" pkg="teleoperation" type="oakd_hand_tracker_ingress.py" output="screen"/> -->
  <node name="mano_faive_retargeter" pkg="teleoperation" type="mano_faive_retargeter_simpler.py" output="screen"/>
  <node name="gripper_controller_node" pkg="teleoperation" type="gripper_controller_node.py" output="screen"/>
  <node name="policy_rollout_node" pkg="teleoperation" type="policy_rollout_node.py" output="screen"/>  
  <!-- <node name="mujoco_ros_bridge" pkg="teleoperation" type="mujoco_ros_bridge.py" output="screen"/>
  <node name="hand_plotter_node" pkg="teleoperation" type="hand_plotter_node.py" output="screen"/> -->
</launch>